

  <a href="/coin/{{symbol}}" class="crypto-cards" style='background-color:{{color}};grid-column: {{gridColumn}};grid-row: {{gridRow}}'>

    <h2 style="font-size: {{fontSize}}px">{{symbol}}</h2>
    <p class="price" style="font-size: {{fontSizePrice}}px">${{quote.USD.price}}</p>
    <p class="percentage" style="font-size: {{fontSizeChange}}px">{{quote.USD.percent_change_24h}}%</p>
    {{!-- <a href='/coin/{{symbol}}'>View more</a> --}}

  </a>



