<div class="crypto-cards" style='background-color:{{color}}; width:{{width}}px; height:{{height}}px'>

  {{!-- <p>{{symbol}}</p>
  <p>{{quote.USD.price}}</p>
  <p>{{quote.USD.percent_change_24h}}</p>
  <a href='/coin/{{symbol}}'>View more</a> --}}

</div>

{{!-- style='width:{{width}}px height:{{height}}px --}}