<div class="one-prediction">

  <h2>{{cryptocurrency}}</h2>
  <p>Price: {{prediction}}</p>

  <p>Price: {{price}}</p>

  <div class="one-prediction-dates">
    <p>Start Date: {{startDate}}</p>
    <p>End Date: {{endDate}}</p>
  </div>



</div>


