          {{!-- Cryptocurrency Name --}}

<section class="crypto-name">

 <h1>{{symbol}} Exchange</h1>
 <p>{{symbol}}/USD</p>

</section>

         {{!-- Cryptocurrency Chart with Canvas --}}

<section class="canvas">

 <canvas id="myChart"></canvas>

</section>


         {{!-- Create a Prediction --}}

<section class="create-prediction">

{{#if isUserLoggedIn }}

<a href="/predictions/{{userId._id}}/{{symbol}}">Make a Prediction</a>



{{#each users}}
    {{!-- <h2>{{symbol}} Predictions</h2> --}}
    {{> predictionsPartial this}}
{{/each}}

{{else}}

<p>Want to create a prediccion? <a id="singup2">Sing Up</a></p>

{{/if}}

</section>



         {{!-- Show Users Prefictios if is logged in --}}

{{!-- {{#each coins}}
<p>{{open}}</p>
{{/each}}

{{#if isUserLoggedIn }}
<li><a href="/{{id}}/info">Create Prediction</a></li>
{{/if}} --}}

<script>

 let arrayClosePrice = []
 let arrayDayPrice = []

 let coins = {{{ coins }}}
 coins.forEach(coin => arrayClosePrice.push(coin.close))

 coins.forEach(coin => arrayDayPrice.push(moment(coin.time * 1000).format("MMM Do YYYY")))

 // console.log(arrayDayPrice)

 var ctx = document.getElementById('myChart').getContext('2d');
 Chart.defaults.global.defaultFontColor = 'white';
 var chart = new Chart(ctx, {

   // The type of chart we want to create
   type: 'bar',

   // The data for our dataset
   data: {
     labels: arrayDayPrice,
     datasets: [{
       label: "USD Price",
       backgroundColor: 'rgb(5, 132, 132)',
       borderColor: 'rgb(5, 132, 132)',
       data: arrayClosePrice,
     }]
   },

   // Configuration options go here
   options: {
        legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'white',
                FontFamily: 'Helvetica Neue'
            }
        }
    }
 });

</script>