<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  {{!-- Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP" rel="stylesheet">
  {{!-- Stylesheets --}}
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- Ajax --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>

  <nav class="nav-bar">
    <h3>CryptoPredictor</h3>

    <ul class="nav-right-side">
      {{#if isUserLoggedIn }}
      <li class="nav-bar-logged">{{user.name}}</li>
      <li class="nav-bar-logged">My Rating: {{user.puntuation}}</li>
      <li class="nav-bar-logged"><a href="/globalRanking">Global Ranking</a></li>
      <li><a href="/logout">Log out</a></li>
      {{else}}
      <li><a id="signup">Sign up</a></li>
      <li><a id="login">Log in</a></li>
      {{/if}}
    </ul>
  </nav>

  {{!-- CREATE LOGIN-BOX --}}

  <div id="login-box" >

    <div class="login-box-container">
      <h2>Log in</h2>

      {{#if errorMessage}}
        <p class="error-message">
          {{ errorMessage }}
        </p>
      {{/if}}
   
      <form action="/login" method="post">
        <div class="login-email">
          <label for="email-input"></label>
          <input type="email" name="email" placeholder="Email">
        </div>

        <div class="login-pwd">
          <label for="password-input"></label>
          <input type="password" name="password" placeholder="Password">
        </div>

        <button class="login-btn" type="submit">Go to profile</button>
     </form>
    </div>

    {{!-- <p>
      Don't have an account?
      <a href="/signup">
        Create an account.
      </a>
    </p> --}}

  </div>

  {{!-- CREATE SIGNUP-BOX --}}

  <div id="signup-box">

    <h2>Sign up</h2>

    {{#if errorMessage}}
    <p class="error-message">
      {{ errorMessage }}
    </p>
    {{/if}}

    <form action="/signup" method="post">
      <div>
        <label for="name-input"></label>
        <input type="text" name="name" placeholder="Name">
      </div>

      <div class="login-email">
        <label for="email-input"></label>
        <input type="email" name="email" placeholder="Email">
      </div>

      <div class="login-pwd">
        <label for="password-input">Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>

      <button>Create New Account</button>
    </form>

    {{!-- <p>
      Already have an account?
      <a href="/login">
        Log in.
      </a>
    </p> --}}
  </div>

  {{{body}}}

  <footer>
    <p>All Systems Operational</p>
  </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>