<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>

  <nav class="nav-bar">
    <p>CryptoPredictor</p>


    <ul class="nav-right-side">
      {{#if isUserLoggedIn }}
      <li>My Rating: {{user.puntuation}}</li>
      <li><a href="/globalRanking">Global Ranking</a></li>
      <li>Welcome {{user.name}}</li>
      <li><a href="/logout">Log out</a></li>
      {{else}}
      <li><a id="signup">Sign Up</a></li>
      <li><a id="login">Log In</a></li>
      {{/if}}
    </ul>

  </nav>

{{!-- CREATE LOGIN-BOX --}}

 <div id="login-box">
   <h2> Log In </h2>

   {{#if errorMessage}}
   <p class="error-message">
     {{ errorMessage }}
   </p>
   {{/if}}

   <form action="/login" method="post">
     <div>
       <label for="email-input"> Email </label>
       <input type="email" name="email" placeholder="Please enter your e-mail address">
     </div>

     <div>
       <label for="password-input">Password</label>
       <input type="password" name="password" placeholder="••••••••••••">
     </div>

     <button type="submit"> Log In </button>
   </form>

   <p>
     Don't have an account?
     <a href="/signup">
       Create an account.
     </a>
   </p>

 </div>

 {{!-- CREATE SIGNUP-BOX --}}

 <div id="signup-box">

   <h2> Sign Up </h2>

   {{#if errorMessage}}
   <p class="error-message">
     {{ errorMessage }}
   </p>
   {{/if}}

   <form action="/signup" method="post">
     <div>
       <label for="name-input">Name</label>
       <input type="text" name="name" placeholder="Please enter your name">
     </div>

     <div>
       <label for="email-input">Email</label>
       <input type="email" name="email" placeholder="Please enter your e-mail address">
     </div>

     <div>
       <label for="password-input">Password</label>
       <input type="password" name="password" placeholder="••••••••••••">
     </div>

     <button>Create New Account</button>
   </form>

   {{!-- <p>
       Already have an account?
       <a href="/login">
         Log in.
       </a>
     </p> --}}
 </div>
  

  {{{body}}}

  <footer>

  </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>


